
#top input[type="date"] {
    -webkit-appearance: none;
    border: 1px solid #e1e1e1;
    padding: 8px 6px;
    outline: none;
    font: 1em "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777;
    margin: 0;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 0px;
}

/* prepare wrapper element */
div.quant, div.entegra_field {
/*  display: inline-block;*/
  position: relative;
}

/* position the unit to the right of the wrapper */
div.quant::after {
  position: absolute;
  top: 8px;
  left: 26px;
 /* right: .5em;*/
  transition: all .05s ease-in-out;
 line-height: 22px;
    font-weight: 600;
    color: #af6836; 
}

/* move unit more to the left on hover or focus within
   for arrow buttons will appear to the right of number inputs */
div.quant:hover::after,
div.quant:focus-within::after {
  /*right: 1.5em;*/
}

/* handle Firefox (arrows always shown) */
@supports (-moz-appearance:none) {
  div.quant::after {
    /*right: 1.5em;*/
  }
}

/* set the unit abbreviation for each unit class */
.unidade::after {
  /*content: 'unidade';*/
}
.text-5541::before {
    content: '€';
    position: absolute;
    top: 1px;
    left: 9px;
    transition: all .05s ease-in-out;
    font-weight: 600;
    color: #5c2524;	
}

p.order_form_title {
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    line-height: 1;
}

.home_form_cf7_wrap .wpcf7, #wpcf7-f268-p18-o1 {
	padding: 40px;
}

.main_color div.order_form_heder {
	border-color: #5b2512;
    border-bottom: solid 1px;
	padding-bottom: 25px;
    margin-bottom: 25px;    
}
.order_form_heder p,
.order_text_content p {
	margin: 0px;
	font-weight: 600;
	line-height: 1.1;
}
.order_text_content p.order_form_title {
    margin-bottom: 5px;
}

#top .main_color .wpcf7 input[type="number"],
#top .main_color .wpcf7 select {
	border: 1px solid #5b2512;
    padding: 9px 9px;
    border-radius: 6px;
    color: #A86836;
}
.order_form_logo {
	text-align: center;
    margin-bottom: 10px;
}
#top label span.req {
    color: #af6836;
}
.order_text_content {
	    margin-bottom: 10px;
}

#Freguesia optgroup {
	display: none;
}

#top input[type="text"].price {
	display: none;
}

#top .main_color input[type="text"].entegra_input,
#top .main_color input[type="text"].total_input {
	width: 50px;
    margin: 0;
    display: inline-block;
    border: none;
    padding: 0;
    text-align: right;
}
#top .main_color input[type="text"].entegra_input {
    font-family: 'Roboto';
    color: #5b2512;
    font-weight: 600;
}
#top .main_color input[type="text"].total_input {
    /*width: 130px;*/
        width: auto;
    max-width: 140px;
        font-family: sans-serif;
        color: #b36429;
}
.total_field {
	font-size: 36px;
	    margin-bottom: -5px;
}
.total_field::before {
	content: url('../img/basket.png');
	    margin-right: 10px;
}

.total_wrap {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.main_color div.order_form_footer {
	border-color: #5b2512;
    border-top: solid 1px;
	padding-top: 25px;
    margin-top: 25px; 
    margin-bottom: 25px;   
}
.home_form_cf7_wrap {
	margin-bottom: 25px;
}

.bolo_label {

}
.bolo, .entegra_field {
    width: 122px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.2;
    font-weight: 600;
}
.text-5 {
	display: none;
}
div.entegra_field {
      margin-bottom: 10px;
}
.iva {
	font-style: italic;
	font-size: 16px;
}

.submit_wrap {
	display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.enivar_input {

}
.order_paginate {

}
.order_paginate span {
	    font-size: 16px;
    /*background-color: #b36529;*/
    background-color: #d8d5d0;
    margin: 3px;
    color: white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}
.order_paginate span:hover {
	background-color: #b36529;
	/*cursor: pointer;*/
}
.order_paginate span.active {
	background-color: #b36529;
}
.submit_content {
    display: flex;
    justify-content: flex-end;
}
div.wpcf7 .ajax-loader {
    position: absolute;
    right: 52px;
    top: 12px;
}
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
     border: none;
	margin:inherit;
    padding: inherit;
    text-align: right;     
}
.wpcf7 form.failed .wpcf7-response-output, 
.wpcf7 form.aborted .wpcf7-response-output {
    border: none;
}
 .main_color input[type='submit'] {
    background-color: #915222;
    color: #ffffff;
    border-color: #703000;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 82px;
}
.none {
	display: none !important;
}
.submit_content {
	position: relative;
}
.main_color input[type='submit']:focus {
	outline: none;
}
.wpcf7-not-valid-tip {
    margin-top: -20px;
}

#top .main_color input[type='date'] {
    border-color: #ebe8e2;
    background-color: #f8f6f2;
    color: #963c18;
    width: 100%;
}
#top .main_color input[type='date']:focus {
	outline: none;
}
#top .main_color .wpcf7 input[type="date"],
#top .main_color .wpcf7 .order_form_part_2 input[type="text"],
#top .main_color .wpcf7 input[type="email"],
#top .main_color .wpcf7 input[type="tel"] {
    border: 1px solid #5b2512;
    padding: 9px 9px;
    border-radius: 6px;
    color: #A86836;
    height: 36px;
}
.order_form_part_2 {
	display: none;
}
#top .main_color .wpcf7 input[type="text"][data-valid='novalid']:focus,
#top .main_color .wpcf7 input[type="text"][data-valid='novalid'],
#top .main_color .wpcf7 select[data-valid='novalid']:focus,
#top .main_color .wpcf7 select[data-valid='novalid'] {
  border-color: red;
}

.home_form_cf7_wrap .wpcf7 form .wpcf7-response-output {
    margin: 0;
    padding: 0;
    text-align: right;
    border:none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* custom checkbox styling for contact form 7 checkbox */
.wpcf7 span.wpcf7-list-item {
    margin: 0;
    margin-right: 5px;
}

.politica_wrap {
	visibility: hidden;
}
.order_text_content .wpcf7-not-valid-tip {
	    /*margin-left: 23px !important;*/
	        margin-top: 0px;
}
#top .main_color .avançar {
    background-color: #b36529;
    border-color: #914307;
    color: #ffffff;
    border-color: #703000;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 82px;
}
.avançar:hover {
	cursor: pointer;
}
.avançar span {

}
.enivar_input {
	display: none;
}